<tr>
  <td><%= reference.firstN %></td>
  <td><%= reference.lastN %></td>
  <td><%= reference.email %></td>
  <td><%= reference.phone %></td>
  <td><%= reference.description %></td>
  <td><%= link_to 'Show', reference %></td>
  <td><%= link_to 'Edit', edit_reference_path(reference) %></td>
  <td><%= link_to 'Destroy', reference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>